@model IEnumerable<ExamenFinalMVC.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelNuevoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="edit" id="@item.IdProducto" data-propertyName="Nombre Producto">
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="Precio Costo:">
                    @Html.DisplayFor(modelItem => item.PrecioCosto)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="Precio Venta">
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="Nivel Nuevo Pedido">
                    @Html.DisplayFor(modelItem => item.NivelNuevoPedido)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="Suspendido">
                    @Html.DisplayFor(modelItem => item.Suspendido)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="IdProveedor">
                    @Html.DisplayFor(modelItem => item.Proveedores.IdProveedor)
                </td>
                <td class="edit" id="@item.IdProducto" data-propertyName="IdCategoria">
                    @Html.DisplayFor(modelItem => item.Categorias.IdCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>$(document).ready(function () {
            $('#table').DataTable(); $(".edit").editable("/Productos/EditField", {
                submitdata: function () {
                    return {
                        id: $(this).data("id"),
                        field: $(this).data("propertyname"), value: $(this).value
                    }
                },
                //Función para poder recibir el nuevo valor y mostrarlo
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) { $(this).text(jsonData.value); }
                    else { $(this).text(jsonData.mensaje); }
                }
            });
        });</script>
}