@model IEnumerable<ExamenFinalMVC.Models.Categorias>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="edit" id="@item.IdCategoria" data-propertyName="Nombre">
                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                </td>
                <td class="edit" id="@item.IdCategoria" data-propertyName="Descripcion">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>$(document).ready(function () {
            $('#table').DataTable(); $(".edit").editable("/Categorias/EditField", {
                submitdata: function () {
                    return {
                        id: $(this).data("id"),
                        field: $(this).data("propertyname"), value: $(this).value
                    }
                },
                //Función para poder recibir el nuevo valor y mostrarlo
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) { $(this).text(jsonData.value); }
                    else { $(this).text(jsonData.mensaje); }
                }
            });
        });</script>
}