@model IEnumerable<ExamenFinalMVC.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEmpleado">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
$(document).ready(function () {
            $('#table').DataTable(); $(".edit").editable("/Categorias/EditField", {
                submitdata: function () {
                    return {
                        id: $(this).data("id"),
                        field: $(this).data("propertyname"), value: $(this).value
                    }
                },
                //Función para poder recibir el nuevo valor y mostrarlo
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) { $(this).text(jsonData.value); }
                    else { $(this).text(jsonData.mensaje); }
                }
            });
});
    </script>
}